In [7]:
import pandas as pd
import os

In [9]:
data_path = './data/washers.csv'

if os.path.exists(data_path):
    print('File Exists')
else:
    print('Unable to locate file')

File Exists

In [11]:
washers = pd.read_csv(data_path)

In [15]:
washers.head()

,ID,BrandName,ModelNumber,UPC,Configuration,Features,Market,Volume,IMEF,MinimumIMEF,EnergyUse,IWF,MaximumIWF,WaterUse,DateAvailable,DateCertified,Countries,MostEfficient
0,2342279,GE,GTW845C*N***,1,Top Load,"Gentle Cycle,Delayed Start,Sanitize Option",Residential,5.0,2.06,1.29,192,4.3,8.4,6368,8/5/19,7/31/19,"United States, Canada",No
1,2331684,GE,GUD27EE*N***,84691844198,Top Load,Gentle Cycle,Residential,3.9,2.06,1.29,140,4.3,8.4,4947,12/10/18,11/30/18,United States,No
2,2331685,GE,GUD27EE*N***,7.57638E+11,Top Load,Gentle Cycle,Residential,3.9,2.06,1.29,140,4.3,8.4,4947,12/10/18,11/30/18,Canada,No
3,2331687,GE,GUD27GE*N***,84691844181,Top Load,Gentle Cycle,Residential,3.9,2.06,1.29,140,4.3,8.4,4947,12/10/18,11/30/18,United States,No
4,2331686,GE,GUD37EE*N***,7.57638E+11,Top Load,Gentle Cycle,Residential,3.9,2.06,1.29,140,4.3,8.4,4947,12/10/18,11/30/18,Canada,No

In [23]:
washers.describe()
# washers.describe()[['WaterUse']]

,ID,Volume,IMEF,MinimumIMEF,EnergyUse,IWF,MaximumIWF,WaterUse
count,2.610000e+02,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000
mean,2.320802e+06,4.374713,2.456820,1.591341,129.214559,3.598851,6.372797,4632.727969
std,1.574793e+04,0.965866,0.380599,0.274261,43.850620,0.538265,1.845032,1292.693059
min,2.300602e+06,1.900000,2.060000,1.290000,60.000000,2.700000,4.700000,1728.000000
25%,2.310408e+06,4.300000,2.060000,1.290000,99.000000,3.200000,4.700000,3852.000000
50%,2.310499e+06,4.500000,2.380000,1.840000,120.000000,3.600000,4.700000,4429.000000
75%,2.332089e+06,5.000000,2.920000,1.840000,150.000000,4.300000,8.400000,5632.000000
max,2.359624e+06,6.200000,3.100000,1.840000,311.000000,4.300000,8.400000,7827.000000

In [27]:
washers[ ['BrandName'] ].value_counts()

BrandName
LG                 50
GE                 49
Samsung            47
Kenmore            30
Whirlpool          26
Maytag             18
Electrolux          7
Bosch               4
Miele               4
Asko                4
Beko                3
Blomberg            3
Crosley             3
Midea               2
Magic Chef          2
Amana               2
Fisher & Paykel     2
Insignia            1
Inglis              1
Gaggenau            1
GE Adora            1
Haier               1
Name: count, dtype: int64

In [29]:
washers[ ['BrandName'] ].value_counts(normalize=True)

BrandName
LG                 0.191571
GE                 0.187739
Samsung            0.180077
Kenmore            0.114943
Whirlpool          0.099617
Maytag             0.068966
Electrolux         0.026820
Bosch              0.015326
Miele              0.015326
Asko               0.015326
Beko               0.011494
Blomberg           0.011494
Crosley            0.011494
Midea              0.007663
Magic Chef         0.007663
Amana              0.007663
Fisher & Paykel    0.007663
Insignia           0.003831
Inglis             0.003831
Gaggenau           0.003831
GE Adora           0.003831
Haier              0.003831
Name: proportion, dtype: float64

In [33]:
washers[['Volume']].mean()

Volume    4.374713
dtype: float64

In [41]:
# How to get Group-level Aggregations
washers.groupby('BrandName')[['Volume']].mean()

                   Volume
BrandName
Amana            4.250000
Asko             2.525000
Beko             2.133333
Blomberg         2.300000
Bosch            2.200000
Crosley          4.400000
Electrolux       3.785714
Fisher & Paykel  2.400000
GE               4.328571
GE Adora         4.200000
Gaggenau         2.200000
Haier            2.400000
Inglis           4.300000
Insignia         4.800000
Kenmore          4.796667
LG               4.596000
Magic Chef       2.700000
Maytag           4.988889
Midea            5.200000
Miele            2.300000
Samsung          4.729787
Whirlpool        4.453846

In [45]:
washers.groupby('BrandName')[['WaterUse']].mean()

                    WaterUse
BrandName
Amana            4016.500000
Asko             2290.500000
Beko             2242.666667
Blomberg         2456.666667
Bosch            2310.000000
Crosley          4613.000000
Electrolux       3695.000000
Fisher & Paykel  1982.000000
GE               4881.183673
GE Adora         4956.000000
Gaggenau         2358.000000
Haier            2974.000000
Inglis           4097.000000
Insignia         6025.000000
Kenmore          5036.066667
LG               4494.980000
Magic Chef       2549.000000
Maytag           5513.555556
Midea            4909.000000
Miele            2467.000000
Samsung          5036.489362
Whirlpool        4953.038462

In [51]:
washers.groupby('BrandName')[['WaterUse']].mean().sort_values(by='WaterUse')

                    WaterUse
BrandName
Fisher & Paykel  1982.000000
Beko             2242.666667
Asko             2290.500000
Bosch            2310.000000
Gaggenau         2358.000000
Blomberg         2456.666667
Miele            2467.000000
Magic Chef       2549.000000
Haier            2974.000000
Electrolux       3695.000000
Amana            4016.500000
Inglis           4097.000000
LG               4494.980000
Crosley          4613.000000
GE               4881.183673
Midea            4909.000000
Whirlpool        4953.038462
GE Adora         4956.000000
Kenmore          5036.066667
Samsung          5036.489362
Maytag           5513.555556
Insignia         6025.000000

In [55]:
washers.groupby('BrandName')[['Volume']].agg(['min', 'max', 'mean', 'median'])

                Volume
                   min  max      mean median
BrandName
Amana              4.2  4.3  4.250000   4.25
Asko               2.0  2.7  2.525000   2.70
Beko               1.9  2.5  2.133333   2.00
Blomberg           1.9  2.5  2.300000   2.50
Bosch              2.2  2.2  2.200000   2.20
Crosley            4.2  4.5  4.400000   4.50
Electrolux         2.4  4.4  3.785714   4.30
Fisher & Paykel    2.4  2.4  2.400000   2.40
GE                 2.2  5.2  4.328571   4.50
GE Adora           4.2  4.2  4.200000   4.20
Gaggenau           2.2  2.2  2.200000   2.20
Haier              2.4  2.4  2.400000   2.40
Inglis             4.3  4.3  4.300000   4.30
Insignia           4.8  4.8  4.800000   4.80
Kenmore            2.4  6.2  4.796667   4.80
LG                 2.3  5.8  4.596000   4.50
Magic Chef         2.7  2.7  2.700000   2.70
Maytag             4.4  6.2  4.988889   4.90
Midea              5.2  5.2  5.200000   5.20
Miele              2.3  2.3  2.300000   2.30
Samsung            2.2  5.6  4.729787   4.80
Whirlpool          2.0  5.3  4.453846   4.50